<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= resource.errors.count %>件のエラーが発生しました
    </h2>
    <ul>
      <% resource.errors.each do |attribute, message| %>
        <% if attribute == :name %>
          <% if resource.errors.include?(:name) %>
            <li>名前を入力してください</li>
          <% end %>
        <% elsif attribute == :email %>
          <% if resource.errors.include?(:email) %>
            <li>メールアドレスを入力してください</li>
          <% end %>
        <% elsif attribute == :password %>
          <% if resource.errors.include?(:password) %>
            <li>パスワードを６文字以上で入力してください</li>
          <% end %>
        <% elsif attribute == :password_confirmation %>
          <% if resource.errors.include?(:password_confirmation) %>
            <li>上記と同じパスワードを入力してください</li>
          <% end %>
        <% elsif attribute == :status %>
          <% if resource.errors.include?(:status) %>
            <li>ステータスを入力してください</li>
          <% end %>
        <% elsif attribute == :genre %>
          <% if resource.errors.include?(:genre) %>
            <li>ジャンルを選択してください</li>
          <% end %>
          <% elsif attribute == :title %>
          <% if resource.errors.include?(:title) %>
            <li>グループ名を入力してください</li>
          <% end %>
          <% elsif attribute == :description %>
          <% if resource.errors.include?(:description) %>
            <li>詳細を入力してください</li>
          <% end %>
        <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>