<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between">
        <h4 class="group-list-title">グループ一覧</h4><br></br>
        <% if user_signed_in? %>
          <%= link_to new_group_path, class: "btn btn-flat" do %>
            <span>グループを作成</span>
          <% end %>
        <% end %>
      </div>
<br></br>
      <table class="table table-bordered">
        <tr class="table-active">
          <th colspan="2">タイトル</th> <!-- タイトル列を2列にするためにcolspan="2"を追加 -->
        </tr>

        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group.title, group_path(group.id), class: "group-link" %>
            </td>
            <td width="100">
              <% if group.owner == current_user %>
                オーナー
                <%#= link_to "削除", @group, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_group_#{@group.id}"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>