<div class="container">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between">
        <h4 class="room-list-title">ダイレクトメッセージ一覧</h4><br></br>
      </div>
<br></br>
      <% @rooms.each do |room| %>
      <hr size="10">
        <div class="d-flex">
          <% room.users.each do |user| %>
            <% next if user == current_user %> <!-- ログインユーザーと一致する場合は表示しない -->
            <div class="profile-img-frame">
              <%= link_to room_path(room.id) do %>
                <%= image_tag user.get_image, size: '60x60', class: "icon-img" %>
              <% end %>
            </div>
            <div class="posted-chat-content" style="padding-left: 10px;">
              <span>
                <%= link_to user.name, room_path(room.id), class: "room-link" %>
              </span>
          <% end %>
          <% latest_message = room.direct_messages.order(created_at: :desc).first %>
          <% if latest_message %>
            <br><small><%= safe_join(latest_message.content.split("\n"), tag(:br)).html_safe %></small>
          </div>
        </div>

        <% else %>
          <p>メッセージがありません</p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>