<div content>
  <div class="row justify-content" style="margin-right: 0px; margin-left: 0px;">
      <div class="abouttext col-6">
      	<h2>Sicoloneとは</h2>
      	<div class="text">
        	<p>
        	  「グループを作成」で気軽にやりとり<br>
          	報連相が重要なオンラインセッションに使えるサイトです。<br>
          </p>
        </div>
      </div>
      <%= image_tag asset_path('sai1.png'), class: 'abouta-visual col-6', style: 'background-size: cover; background-position: center;' %>
  </div>

  <div class="row justify-content" style="margin-right: 0px; margin-left: 0px;">
    <%= image_tag asset_path('sai4.png'), class: 'about-visual col-6', style: 'background-size: cover; background-position: center;' %>
      <div class="abouttext col-6">
      	<h2>Sicoloneについて</h2>
      	<div class="text">
        	<p>
          	キャラクターを登録すれば、<br>
          	いつでも参加しているグループに紐づけることが出来ます！
        	</p>
        </div>
        <div style="margin-top: 10%;"></div>
        <h2></h2>
      	<div class="text">
        	<p>
        	  グループのオーナーには、グループに紐づけられた<br>
            キャラクターたちの情報が一目でわかる一覧表示ページがあります
        	</p>
        </div>
      </div>
  </div>
</div>