<div class="card" style="margin-bottom: 20px;">
  <%= link_to admin_group_group_character_path(group, character), class: "card-link" do %>
  <div class="card-img-character">
    <%= image_tag character.get_image, class: "card-img-index card-img-top" %>
  </div>
  <div class="card-body">
    <h6 class="card-title"><%= character.name %></h6>
    <p class="card-text"><%= character.user.name %></p>
  </div>
  <% end %>
</div>