<div class="nested-field-container">
  <%= f.text_field :skill, class: "form-control text-input", style: "width:20%; height: 2rem;" %>
  <%= link_to_remove_association "", f, class: "fa-regular fa-trash-can",style: "margin-top: 8px; margin-left: 10px;" %>
</div>