<div class="container">
  <div class="row">
    <div class="col">
      <h4>キャラクター一覧</h4>
      <%= link_to "新規登録", new_character_path, class:"btn btn-success" %>
      <table class="table">
        <thead>
          <tr>
            <th>キャラクターID</th>
            <th>キャラクター名</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @characters.each do |character| %>
            <tr>
              <td><%= character.id %></td>
              <td><%= link_to character.name,character_path(character.id) %></td>
              <td><%= Genre.find(character.genre_id).name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>