<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
      <h4>キャラクター一覧</h4>
      <%= link_to new_character_path, class: "btn btn-flat" do %>
        <span>キャラクター登録</span>
      <% end %>
      </div><br></br>
      <div class="row">
        <% @characters.each do |character| %>
          <div class="col-md-3">
            <%= render 'public/characters/card', character: character %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>