<h4>検索結果</h4>

<table class="table table-bordered">
  <tr class="table-active">
    <!--タグの中にbrタグを入れることで空白のセルを作れる-->
    <th>タイトル</th>
    <th><br></th>
  </tr>
    <% if @groups.present? %>
    <% @groups.each do |group| %>
        <td>
          <%= link_to group.title,group %>
        </td>
        <td width="100">
          <% if group.owner == current_user %>
          <%= link_to "編集する", edit_group_path(group), class:"btn btn-primary" %>
            <%#= link_to "削除", @group, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_group_#{@group.id}"%>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <p>グループが見つかりませんでした。</p>
    <% end %>
  </tr>
</table>