@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

/* クリックしていないリンク */
a:link {
	color: #1E0342;
}
/* クリック済みのリンク */
a:visited{
	color: #1E0342;
}
/* カーソルを合わせたとき */
a:hover{
	color: #950101;
}
/* 選択中のリンク */
a:active{
	color: #950101;
}

body {
  padding-top: 60px;
  color: #1E0342;
}

.text {
  font-size: 14px;
  margin-top: 14px;
}

.header {
  padding-left: 0px;
  top: 0;
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 80px;
  background: #fff;
}

.header-content {
  color:#1E0342;
  display: inline-flex;
  padding: 1.2rem 1.5rem;
  white-space: nowrap;
}

.navbar .container-fluid {
  justify-content: start;
}

.navbar-collapse {
  background-color: rgba(#fff,.8);
}

.nav-link {
  display: block;
  padding: 0.5rem;
}

.footer {
  background-color: #FF0000;
}

.in-link {
  margin-top: 1rem;
}

/*フォーム全体を中央へ*/
.form1{
  display: flex;
  justify-content: center;
  height:50px;
}
/*入力フォーム*/
.sbox2{
  width:250px;
  padding:0 15px;
  border-radius:4px 0 0 4px;
  background: transparent;/*背景カラー透明*/
  border:2px solid #950101;/*枠線の指定*/
  border-right: none;/*枠線の右側だけ削除*/
  outline:0;
}
/*検索ボタン*/
.sbtn2{
  width:50px;
  border-radius:0 4px 4px 0;
  background:#950101;
  border:none;
  color:#fff;
  font-size:18px;
  cursor: pointer;
}
.sbtn2:hover{
  background: #FF0000;
}


.form-group {
  margin-top: 1.1rem;
}


// 企業説明
.main-visual-content {
  position: relative;
  width: 100%;
  height: 220px;
  color: #fff;
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 40px;
  overflow: hidden;
}

.main-visual-content:after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  background: #000000; /* 背景色を変更 */
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(-100%);
  animation-name: main-visual-content_slide;
  animation-duration:.5s;
  animation-fill-mode: forwards;
}
@keyframes main-visual-content_slide {
  0% {
    transform: translate(-100%,0);
    background: #fff; /* 初期の背景色を設定 */
  }
  100% {
    transform: translate(0,0);
    background: #000000; /* 最終的な背景色を設定 */
  }
}

.sub-visual-content {
  position: relative;
  width: 100%;
  height: 220px;
  color: #000000;
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 40px;
  overflow: hidden;
}

.sub-visual-content:after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  background: #fff; /* 背景色を変更 */
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(100%);
  animation-name: sub-visual-content_slide;
  animation-duration:.5s;
  animation-fill-mode: forwards;
}
@keyframes sub-visual-content_slide {
  0% {
    transform: translate(100%, 0);
    background: #000000; /* 初期の背景色を設定 */
  }
  100% {
    transform: translate(0, 0);
    background: #fff; /* 最終的な背景色を設定 */
  }
}

.sub-visual-name {
  margin-top: 30px; /* 上側の外側の余白 */
}


.full-screen-img {
  max-width: 100%; /* 最大幅を100%に制限 */
  height: 700px; /* 高さは自動調整 */
  width: 100vw; /* ビューポート幅いっぱいにする */
  object-fit: cover; /* 画像を縦横比を保ちつつビューポートいっぱいに表示する */
  object-position: center; /* 画像を中央に配置する */
}

.icon-img {
  object-fit: cover; /* 画像を縦横比を保ちつつビューポートいっぱいに表示する */
  object-position: center; /* 画像を中央に配置する */
}

.abouttext {
  justify-content: center;
  padding:4rem;
  display: flex;
  flex-direction: column;
}

.aboutn-visual {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
}

/* キャラクターカード */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: auto; /* 画像の比率を保持する */
}


/* チャット内容 */

.input-area {
  width: 100%;
  height: auto;
  background-color: white;
  position:fixed;
  bottom: 0;
  width: calc(100% - 280px);
  min-width:800px;
  // height:64px;
}

.input-frame {
  padding-left: 0px;
  padding-right: 16px;
}

.chat-submit-btn-area {
  width:10%;
}

.chat-send-btn {
  width: 100%;
  color: #1E0342;
  height: 42px;
  border-color: #1E0342;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
}

.chat-send-btn:hover {
  background-color: #1E0342;
  border-color: #1E0342;
  color: #FFF;
  cursor : pointer;
}

// ボタン関連
.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #1E0342;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #FF0000;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1em;
  width: fit-content;
}

// ハンバーガーメニュー
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background: #1E0342;
	cursor: pointer;
  width: 50px;
  height: 50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background: #fff;
  width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* グループ */
.group-list {
  list-style: none;
  padding: 0;
}

.group-item {
  margin-bottom: 10px;
}

.card-img-character {
  max-width: 100%;
  max-height: 180px;
  overflow: hidden;
  position: relative;
}

.card-img-index {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-title {
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* 溢れた部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
}
.card-text {
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* 溢れた部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
}

.img-character {
  max-width: 30%;
  max-height: 180px;
  overflow: hidden;
  position: relative;
}

.character-img-index {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.nested-field-container {
  display: flex;
}

.status-table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dee2e6;
}

.status-table td {
  padding: 0.3rem;
}

/* 画面サイズ設定 */
@media(max-width: 768px) {  // mdサイズ以下の場合に適用
  .row {
    display: block;
  }
  .col-6 {
    max-width: 100%;
  }

  .card-img-index {
  height: 300px;
  width: 100%;
  object-fit: blok;
  }

  .card-img-character {
  max-height: 300px;
  }

  .character-img-index {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }

  .abouta-visual {
  max-width: 0%;
  }

  .full-screen-img {
    height: 30rem;
  }
}

@media screen and (min-width: 1400px) {
  .sidebars {
  padding-right: 4rem;
  }
  .messages {
  padding-right: 4rem;
  }
}

@media screen and (min-width: 1200px) {  //画面幅が1200px以上の場合に適用されるスタイル
  .sidebars {
  width: 25%;
  float: left;
  }
  .sidebar {
  background-color: #F0F0F0;
  }
  .messages {
  width: 75%;
  float: left;
  }
  .sidebar-toggle {
  margin-left: -20em;
  }
}


@media(max-width: 1200px) {  //画面幅が1200px以下の場合に適用されるスタイル
  .sidebars {
    position: absolute;
    width: 100%;
    float: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  .messages {
    width: 100%;
    float: none;
    margin-top: 90px;
  }
  .sidebar-toggle {
    position: fixed;
    z-index: 1;
    border: 4px solid #fff;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 18em;
    margin-top: -1em;
    background-color: #FF0000;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.5s;
  }
  .sidebar-toggle.is-closed {
    position: fixed;
    z-index: 1;
    transform: translateX(0.3em) rotate(0deg);
    display: inline-block;
  }
  .sidebar-toggle .icon {
    font-size: 1.5rem;
    color: #fff;
  }
  .sidebar {
    position: absolute;
    z-index: 900;
    width: 19em;
    background-color: #F0F0F0;
    transition: 0.7s;
    left: 0px;
  }
  .sidebar.is-closed {
    transform: translateX(-19em);
    display: block;
  }
}

@media(max-width: 464px) {
  .flex-disable {
    display: initial !important;
  }
}

table{
  width: 100%;
}

h3 {
	font-size: clamp(20rem, 2vw, 30rem);
}
p {
	font-size: clamp(14px, 3vw, 16px);
}
th {
	font-size: clamp(14px, 3vw, 16px);
}