<div class="side-bar">
  <div>
    <%= link_to groups_path, class: "btn btn-flat" do %>
      <span>グループ一覧</span>
    <% end %>
  </div><br>
  <h5>&nbsp;<i class="fa-solid fa-user"></i>オーナー&nbsp;&nbsp;<%= group.owner.name %></h5><br>
  <h5><i class="fa-solid fa-users"></i>ユーザー</h5>
  <div class="group-members">
    <% group.group_users.each do |member| %>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= member.user.name %></p>
    <% end %>
  </div>
</div>