<table class="table table-bordered">
  <tr class="table-active">
    <!--タグの中にbrタグを入れることで空白のセルを作れる-->
    <th>グループ一覧</th>
    <th><br></th>
  </tr>
    <% @groups.each do |group| %>
      <tr>
        <td>
          # <%= link_to group.title, admin_group_path(group.id), class: "group-link" %>
        </td>
        <td width="168">
          <%= link_to 'グループを削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tr>
</table>