<div class="input-area">
  <%= form_with model: [room, direct_message], local: false do |f| %>
    <div class="input-frame disp-flex">
      <div class="input-chat-text-area">
        <div class="form-label">
          <%= f.text_area :content, placeholder: "メッセージを入力", class: "form-control", style: "width:90%", rows:"2" %>
        </div>
      </div>
      <div class="chat-submit-btn-area">
        <%= f.submit "送信", class: 'chat-send-btn' %>
      </div>
    </div>
  <% end %>
</div>