<footer style="position: bottom: 0; width: 100%;">
  <div class="footer container-fluid">
    <ul>
      <h2>Saicolone</h2>
        会社情報
        |
        サイトマップ
        |
        プライバシーポリシー
    </ul>
  </div>
</footer>